$white: #fff;
$black: #000;
$gray: #5a5a5a;
$gray-1: #9b9b9d;
$gray-2: #c4c4c4;
$font-gilroy: "Gilroy";
$font-lemon: "LEMON MILK";
$font-larsseti: "Larsseit";
$font-gilmer: "Gilmer";
$font-roboto: 'Roboto', sans-serif;